html,
body {
    margin: 0;
    padding: 0;
}

.page-body {
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.page {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: black;
}


/* header start */

header {
    width: 100%;
    height: 50px;
    background-color: #48a1cb;
}

nav {
    display: block;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-item {
    display: list-item;
    text-align: -webkit-match-parent;
    align-items: center;
}

.nav a {
    padding: 14px 10px;
    line-height: 50px;
    color: black;
    align-items: center;
    font-size: 1.2em;
}


/* header end */


/* main start */

.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
}

.left-side li {
    padding-bottom: 8px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section-title {
    position: relative;
    margin: 0;
    margin-bottom: 36px;
    padding-left: 60px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.left-side .section-title {
    background-color: rgba(255, 255, 255, 0.1);
}

.section-title::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 20px;
    height: 36px;
    background-color: #48a1cb;
}

.left-side {
    color: white;
    width: 400px;
    background-color: #453d3d;
}

.photo-left-side {
    margin: 0px;
}

.contact {
    padding-left: 0;
}

.education {
    padding-left: 0x;
}

.right-side {
    background-color: white;
    width: 800px;
}

.right-side section {
    padding-bottom: 20px;
}

.about-me p {
    margin: 0 60px 0 60px;
    font-size: 16px;
    line-height: 24px;
}

.about-me-text {
    padding-top: 10px;
}

.right-side li {
    padding-bottom: 5px;
}

.page-title {
    margin: 75px 80px 75px 80px;
}

.main-title {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}

.skills__list {
    margin: 0px 60px;
    padding: 0;
    padding-left: 20px;
}

.key-strengths__list {
    margin: 0px 60px;
    padding: 0;
    padding-left: 20px;
}

.summary-text {
    margin: 0 60px 0 60px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}

.code-ex {
    margin: 0 60px 0 60px;
}

.code-adr {
    margin: 30px 60px 30px 60px;
    padding-top: 20px;
    font-size: 20px;
}


/* main end */


/* footer start */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 60px 20px 60px;
    color: white;
    background-color: #fdfcf9;
}

.footer__github {
    position: relative;
    padding-left: 40px;
    font-size: 20px;
}

.footer__year {
    justify-self: center;
    color: black;
    font-size: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer__rsschool {
    justify-self: end;
    height: 32px;
}


/* footer end */