html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.page-body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: black;
}

/* header start */

header {
  width: 100%;
  height: 50px;
  background-color: #fff64b;
}

nav {
  display: block;
  width: 85%;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.nav__item {
  display: list-item;
  text-decoration: none;
  align-items: center;
}

.nav a {
  padding: 14px 10px;
  line-height: 50px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  transition: all 0.5s;
}
.nav a:hover {
  font-size: 1.25em;
  text-decoration: underline;
  color: midnightblue;
}

/* header end */

/* main start */

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left-side {
  width: 35%;
  color: white;
  background-color: #453d3d;
}

.photo-img {
  width: 100%;

  margin: 0 auto;
}

.left-side li {
  padding-bottom: 8px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.section-title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 60px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.left-side .section-title {
  background-color: rgba(255, 255, 255, 0.1);
}
.right-side .section-title {
  background-color: rgb(222, 222, 222);
}
.section-title::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 36px;
  background-color: #f9f34f;
}

.photo-left-side {
  margin: 0px;
}

.contact {
  padding-left: 0;
}

.contact__list li,
.education__list li,
.key-strengths__list li {
  margin-bottom: 10px;
}

.email-link,
.phone-number,
.linkedin-link {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

.email-link:hover,
.phone-number:hover,
.linkedin-link:hover {
  color: aquamarine;
  text-decoration: underline;
}

.education {
  padding-left: 0px;
}

.right-side {
  background-color: rgb(255, 255, 255);
  width: 64%;
}

.right-side section {
  padding-bottom: 20px;
}

.about-me p {
  margin: 0 60px 0 60px;
  font-size: 16px;
  line-height: 24px;
}

.about-me-text {
  padding-top: 10px;
}

.project-link {
  text-decoration: underline;
  color: black;
}

.right-side li {
  padding-bottom: 5px;
}

.page-title {
  margin: 40px 80px 40px 80px;
}

.main-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}

.skills__list {
  margin: 0px 60px;
  padding: 0;
  padding-left: 20px;
}

.summary-text {
  margin: 0 60px 0 60px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.code-ex {
  margin: 0 60px 0 60px;
}

.code-adr {
  margin: 30px 60px 30px 60px;
  padding-top: 20px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

/* main end */

/* footer start */

.footer {
  display: flex;
  flex-wrap: nowrap;
  margin: 30px auto;
  width: 90%;
  justify-content: space-around;
}

.footer__github {
  position: relative;
  padding-left: 40px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.github-img {
  width: 25px;
  height: 25px;
}

.footer__year {
  justify-self: center;
  color: black;
  font-size: 20px;
}

p {
  margin-top: 0;
}

.footer__rsschool {
  justify-self: end;
  height: 32px;
}
.rsschool-img {
  width: 86px;
  height: 32px;
}

/* footer end */
